$body-color: white;

* {
  box-sizing: border-box;
  margin: 0;
}

html,body {
  width: 100vw;
  height: 100vh;
}

body {
  color: $body-color;
}

#container {
  height: 100%;
  background-image: url(image.png);
  background-size: cover;
}

h1 {
  text-align: center;
  padding: 50px;
}